$color-brand: rgb(207, 105, 112);
$color-brand-light: rgb(250, 211, 214);
$color-brand-dark: rgb(175, 79, 85);
$color-secondary: rgb(231, 132, 139);
$color-pink: pink;
$color-secondary-light: #ffe7e9;

$color-text-pink: #be7676;
$color-text-light-pink: #d29292;
