.taro_router {
  taro-button-core[type=primary] {
    background-color: rgb(207, 105, 112);
  }
  taro-button-core[type=primary]:not([disabled]):active {
    background-color: rgb(175, 79, 85);
  }
  taro-button-core:after {
    border: none
  }
}
